.incomplete {
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 132, 137);
    text-align: center;
    width: 100px;
    color: rgb(0, 132, 137);
    font-size: 11px;
}

.complete {
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 132, 137);
    text-align: center;
    width: 100px;
    color: white;
    font-size: 11px;
    background-color: rgb(0, 132, 137)
}

.filter-active {
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #FF5A5F;
    text-align: center;
    width: 100px;
    color: white;
    font-size: 11px;
    background-color: #FF5A5F
}

.filter-inactive {
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #FF5A5F;
    text-align: center;
    width: 100px;
    color:  #FF5A5F;
    font-size: 12px;
    background-color: white
}

.rate-button {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    border-radius: 4px !important;
    width: 100% !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 800 !important;
    border-width: 2px !important;
    border-style: solid !important;
    min-width: 77.66563145999496px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    box-shadow: none !important;
    background-color: #008489;
    border-color: transparent !important;
    color: #ffffff !important;
}

.schedule-button {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    border-radius: 4px !important;
    width: 100% !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 800 !important;
    border-width: 2px !important;
    border-style: solid !important;
    min-width: 77.6656314599949x6px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
    background: transparent;
    border-color: transparent;
    color: #FF5A5F !important;
}

.close-event-button {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    border-radius: 4px !important;
    width: 100% !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 800 !important;
    border-width: 2px !important;
    border-style: solid !important;
    min-width: 77.6656314599949x6px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
    background: #FF5A5F;
    border-color: transparent;
    color: #ffffff !important;
}

.delete-button {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    border-radius: 4px !important;
    width: 50px !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 800 !important;
    border-width: 2px !important;
    border-style: solid !important;
    min-width: 60px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
    background: transparent;
    border-color: transparent;
    color: #FF5A5F !important;
}

.participant-list {
    margin-left: 10px;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 3px;
    border-color: transparent !important;
    color: #ffffff !important;
    background: rgb(0, 132, 137) ;
}